hxs_gen
work
ip/*
!ip/*.xci
resources/WasmFpgaModule.txt
resources/WasmFpgaModule.wasm
resources/WasmFpgaTop.bit
resources/WasmFpgaTop.mcs
resources/WasmFpgaTop.prm
resources/n25q128a13e_3v_micronxip_vg12.tar.gz
simstm/src-gen
src-gen/
tb/N25Q128A13E_VG12/
.venv
